.navbar-container {
    top: 0;
    width: 100%;
    display: flex;
    position: fixed;
    transition: .2s ease-in-out;
    justify-content: space-between;
    z-index: 9999999999999999999999999999;

    li {
        cursor: pointer;
        margin: 20px;
        color: #ffff;
    }

    .left-home-list {
        display: flex;
        padding-left: 30px;
        align-items: center;

        img {
            max-width: 100px;
        }

        ul {
            display: flex;
            list-style: none;
        }
    }

    .rigth-home-list {
        display: flex;
        padding-right: 30px;

        ul {
            display: flex;
            list-style: none;
            align-items: center;

            img {
                width: 30px;
                height: 30px;
                border-radius: 3px;
            }

            .icon {
                font-size: 1.3rem;
                margin-left: 5px;
                color: #ffff;
            }
        }
    }
}

@media screen and (max-width: 918px) {
    .navbar-container {
        justify-content: center;

        .rigth-home-list {
            display: none;
        }
    }
}

@media screen and (max-width: 648px) {
    .navbar-container {
        .left-home-list {
            ul {
                display: none;
            }
        }
    }
}