.carousel-continer {
    bottom: 180px;
    position: relative;
    background-color: transparent;
    background-color: #0f0f0f;
    box-shadow: #0f0f0f 10px 10px 90px 100px;

    .icon-container {
        width: 50px;
        height: 100%;
        z-index: 999;
        display: flex;
        cursor: pointer;
        position: absolute;
        align-items: center;
        justify-content: center;
        transition: .2s ease-in-out;
        background-color: rgba(0, 0, 0, 0.377);

        .icon {
            font-size: 2rem;
            color: #ffff;
        }
    }

    .icon-container:hover {
        transition: .2s ease-in-out;
        background-color: rgba(0, 0, 0, 0.664);
    }

    .rigth {
        right: 0;
    }

    .legt {
        left: 0;
    }

    .cards-continer {
        display: flex;
        transition: 1s ease-in-out;
        scroll-behavior: smooth;

        img {
            margin: 0px 10px 0px 10px;
            max-width: 200px;
        }
    }
}