.carousel-continer {
    bottom: 180px;
    position: relative;
    background-color: #0f0f0f;
    box-shadow: #0f0f0f 10px 10px 90px 100px;

    .icon-container {
        width: 50px;
        height: 100%;
        z-index: 999;
        display: flex;
        cursor: pointer;
        position: absolute;
        align-items: center;
        justify-content: center;
        transition: .1s ease-in-out;
        background-color: rgba(0, 0, 0, 0.377);

        .icon {
            font-size: 2rem;
            color: #ffff;
        }
    }

    .icon-container:hover {
        transition: .2s ease-in-out;
        background-color: rgba(0, 0, 0, 0.664);
    }

    .rigth {
        right: 0;
    }

    .left {
        left: 0;
    }

    .cards-continer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        scroll-behavior: smooth;
        transition: .5s ease-in-out;
        cursor: pointer;


        .cards {
            z-index: 99999;
            position: relative;
            margin: 0px 10px 0px 10px;
            background-color: #292929;
            height: 266px;

            .info {
                top: 10%;
                opacity: 0;
                right: 20px;
                width: 270px;
                color: white;
                overflow: hidden;
                position: absolute;
                align-items: center;
                pointer-events: none;
                justify-content: center;
                transition: .3s ease-in-out;
            }

            img {
                max-width: 177px;
                pointer-events: none;
                transition: .4s ease-in-out;
            }
        }

    }
}


@media screen and (max-width: 1724px) {
    * {

        * {
            scrollbar-width: thin;
            scrollbar-color: blue orange;
        }

        *::-webkit-scrollbar {
            width: 2px;
        }

        *::-webkit-scrollbar-track {
            background: black;
        }

        *::-webkit-scrollbar-thumb {
            background-color: rgb(41, 39, 39);
            border-radius: 20px;
            border: 6px solid black;
        }
    }

    .carousel-continer {
        overflow-x: scroll !important;
        overflow-y: hidden;


        .icon-container {
            display: none;
        }

        .cards-continer {
            transform: translateX(1200px) !important;
        }
    }

}

@media screen and (max-width: 1556px) {
    .carousel-continer {
        .cards-continer {
            transform: translateX(1230px) !important;
        }
    }

}

@media screen and (max-width: 1458px) {
    .carousel-continer {
        .cards-continer {
            transform: translateX(1270px) !important;
        }
    }

}

@media screen and (max-width: 1338px) {
    .carousel-continer {
        .cards-continer {
            transform: translateX(1330px) !important;
        }
    }

}

@media screen and (max-width: 1228px) {
    .carousel-continer {
        .cards-continer {
            transform: translateX(1390px) !important;
        }
    }
}

@media screen and (max-width: 1128px) {
    .carousel-continer {
        .cards-continer {
            transform: translateX(1430px) !important;
        }
    }
}

@media screen and (max-width: 1044px) {
    .carousel-continer {
        .cards-continer {
            transform: translateX(1470px) !important;
            margin: 0px 2px 0px 2px;
        }
    }
}

@media screen and (max-width: 960px) {
    .carousel-continer {
        .cards-continer {
            transform: translateX(1500px) !important;
            margin: 0px 2px 0px 2px;
        }
    }
}